section#stackedChart {
    width: 50vw;
    padding: 1em;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
    margin: 3em auto;
}

rect:hover {
    fill: orange;
}

#tooltip {
    position: absolute;
    width: 200px;
    left: 60%;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    
    &.hidden {
        display: none;
    }

    p {
        margin: 0;
        font-family: Futura;
        font-size: 16px;
        line-height: 20px;
    }
}
